* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: thistle;     
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 20px;
}

input, button {
    font-size: 20px;
    padding: 1rem;
    border-radius: 10px;
}